{% extends 'base.html' %}

{% block title %}
Create Community
{% endblock title %}


{% block body %}
<div class="row mx-2 my-4">

    <form action="{% url 'create-community' %}" method="POST" enctype="multipart/form-data">
        {% if error %}
        <div class="alert alert-dark" role="alert">
            {{error_text}}
          </div>
        {% endif %}
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Community Name</label>
            <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          
          <div class="mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control"  type="file" name="image" accept="image/*" id="id_image">
          </div>
          <button class="btn btn-block submit_btn form-control" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}
