{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'app.css' %}">
    <title>
        {% block title %}{% endblock title %}
    </title>


    {% block css_files %}{% endblock css_files %}

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light main_color">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img src="{% static 'post/logo.png' %}" height="30px" width="110px"
                        alt="" loading="lazy" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if logged_in %}
                        <li class="nav-item">
                            <a class="nav-link main_text nav_btn" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link main_text nav_btn" href="{% url 'join-community' %}">Join a community</a>
                        </li>

                    {% endif %}
                    
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if logged_in %}
                    
                    <li class="nav-item">
                        <a class="nav-link main_text nav_btn" href="{% url 'remove-community' %}">My communities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main_text nav_btn" href="{% url 'user-profile' user.id %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main_text mx-2 nav_btn" href="{% url 'signout' %}">Signout</a>
                    </li>
                    
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link main_text nav_btn" href="{% url 'signin' %}">Signin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main_text mx-2 nav_btn" href="{% url 'signup' %}">Signup</a>
                    </li>
                    
                    {% endif %}
                    
                </ul>


                <!-- Avatar -->
                {% if logged_in %}
                <a class="d-flex align-items-center mx-3" href="#"
                id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img src="
                {% if user.image %}
                {{user.image.url}}
            {% else %}
                {{"https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"}}
            {% endif %}
                " class="rounded-circle" height="25"
                    alt="Black and White Portrait of a Man" loading="lazy" />
                </a>
                {% endif %}
                
                
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <div class="container-fluid">
        {% block body %}{% endblock body %}
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted main_color">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center  p-4 border-bottom sec_color">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block main_text">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div class="main_text">
                
                <a href="https://www.linkedin.com/in/omarkhaledm21/" class="me-4 text-reset">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://github.com/OmarKhaledm21" class="me-4 text-reset">
                    <i class="fa fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="main_text">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Project Idea
                        </h6>
                        <p>
                            This project is a simple social application where users are able to join some
                            community consisting of people with same interests, users can share posts in this community and only users 
                            that are members of this community can view posts.<br>
                            User can be part of many community and see posts from all communities on his home page.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Projects
                        </h6>
                        <p>
                            <a href="https://github.com/OmarKhaledm21/E-Commerce-Website-Fullstack-project" class="text-reset">
                                E-Commerce Fullstack Online Store
                            </a>
                        </p>
                        <p>
                            <a href="https://github.com/OmarKhaledm21/EarthQuakeReport_AndroidNative-API-JSON" class="text-reset">
                                Earth Quake Report Android Application</a>
                        </p>
                        <p>
                            <a href="https://github.com/OmarKhaledm21/Disk-Scheduling-Algorithms" class="text-reset">Disk Scheduling Algorithms + Visualizer</a>
                        </p>
                        <p>
                            <a href="https://github.com/OmarKhaledm21/Blog-Project-Python-Django-" class="text-reset">Personal Blog</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fa fa-home me-3"></i> Cairo, Egypt</p>
                        <p>
                            <i class="fa fa-envelope me-3"></i>
                            omarkhaledm21@gmail.com
                        </p>
                        <p><i class="fa fa-phone me-3"></i> + 02 101 366 5215</p>
                        <a href="https://drive.google.com/file/d/1_8ALxjB290GBuU9Pj2X9sRTyiaBVRonG/view?usp=sharing" style="text-decoration:none;">
                            <p><i class="fa fa-print me-3"></i> Check CV</p>
                    
                        </a>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4 main_text" style="background-color: rgba(0, 0, 0, 0.05);">
            Check source code for this project here
            <a class="text-reset fw-bold" href="https://github.com/OmarKhaledm21/Readit-Social-App">Readit Social App Github Repo</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
</body>

</html>